# Парсинг и веб-скрапинг
beautifulsoup4>=4.9.3
selenium>=4.0.0
lxml>=4.9.0
requests>=2.25.1
random-user-agent>=1.0.1

# Работа с PDF
PyPDF2>=3.0.0

# Работа с Яндекс.Диском
yadisk>=1.2.14

# Управление конфигурацией
environs>=9.5.0

# Управление временем и датами
python-dateutil>=2.8.2

# Драйвер для Chrome (опционально)
webdriver-manager>=4.0.0

# Дополнительные утилиты
tqdm>=4.65.0  # для отображения прогресс-бара 

# FastAPI и веб-фреймворк
fastapi>=0.104.0
uvicorn>=0.24.0
python-multipart>=0.0.6

# Pydantic
pydantic==2.10.2
pydantic-settings==2.6.1
pydantic_core==2.27.1
email-validator>=2.2.0
google-auth>=2.38.0

SQLAlchemy[asyncio]==2.0.36
asyncpg==0.29.0
psycopg2-binary==2.9.9

qdrant-client>=1.13.3
openai>=1.68.0
async_openai>=0.0.52

numpy >=1.24.3
backoff>=2.2.1

aiofiles >=23.1.0